* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    width: 100%;
    overflow-x: hidden;
}

.background-container {
    display: block;
    margin-top: 1px;
}

lottie-player {
    width: 300px;
    height: 300px;
}

.header {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #314E5F;
}

.container-title {
    display: flex;
    margin: auto;
    width: 70%;
    position: relative;
    height: 100%;
    text-align: center;
    align-content: flex-end;
    flex-wrap: wrap;
}

h1 {
    font-size: calc(25px + 2.5vw);
    padding-bottom: 0;
    color: #fff;
}

.animate {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .container-title {
        align-content: center;
    }
    h1 {
        font-size: calc(15px + 2.5vw);
    }
    .animate {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .container-infos {
        flex-direction: column;
    }
    .animation {
        width: auto;
    }
    .animation lottie-player {
        width: auto;
    }
    lottie-player {
        width: 450px;
    }
}

.container-company {
    display: flex;
    align-items: center;
    margin-bottom: 8em;
}

h2 {
    padding: 1em;
    font-size: 40px;
}

.header #background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(assets/img/header.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation-fill-mode: forwards;
    /* animation: animBackground 1s; */
}

@media only screen and (hover: none) {
    .header #background {
        background-image: url(assets/img/header_mobile.png);
    }
    .container-title h1 {
        margin-bottom: 10em;
    }
    .footer-links a {
        font-size: 30px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.company-card {
    border: solid #0E1A34;
    height: 7em;
    width: 9em;
    margin: 1.5em;
    border-radius: 15px;
    background-color: #fff;
}

#decathlon {
    background-image: url('assets/img/logo_decat.png');
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: center;
}

#inetum {
    background-image: url('assets/img/inetum_logo.jpg');
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
}

#worldline {
    background-image: url('assets/img/worldline_logo.jpg');
    background-size: 115%;
    background-repeat: no-repeat;
    background-position: center;
}

#norsys {
    background-image: url('assets/img/norsys_logo.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    background-color: #0E1A34;
    color: #fff;
    overflow: hidden;
}

.container-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rsx {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
    width: fit-content;
    margin-right: 2em;
}

.rsx a {
    width: 3em;
    height: 3em;
    background: #fff;
    border-radius: 100%;
    margin: 0.3em;
}

.footer-links {
    display: grid;
    margin-left: 3em;
    width: fit-content;
}

a {
    text-decoration: none;
    width: fit-content;
    color: #fff;
}

.infos {
    background: #7D9AAB;
    color: #fff;
}

.container-infos {
    display: flex;
    align-items: center;
}

.animation lottie-player {
    margin: auto;
}

.infos-content {
    width: 80%;
}

.bold {
    font-weight: bold;
}

.bold a {
    text-decoration: underline;
}

.container-logo-sponsor {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-logo-sponsor a {
    width: 5em;
    height: 5em;
    border-radius: 100%;
    margin: 1em;
}

.container-logo-sponsor #sponsor-aei {
    background: url(assets/img/aei.png);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.container-logo-sponsor #sponsor-ulille {
    background: url(assets/img/ulille.png);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.container-logo-sponsor #sponsor-inetum {
    background: url(assets/img/inetum_logo.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1C273C;
}

.container-logo-sponsor #sponsor-tchoupa {
    background: url(assets/img/tchoupa.png);
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.container-logo-sponsor #sponsor-gb {
    background: url(assets/img/gb.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

hr {
    width: 90%;
    padding: 0;
    margin: 1em auto;
}

#twitter {
    background: url(assets/img/twitter.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#facebook {
    background: url(assets/img/facebook.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#discord {
    background: url(assets/img/discord.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#instagram {
    background: url(assets/img/instagram.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#linkedin {
    background: url(assets/img/linkedin.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}